body{
    background-image: url("assets/images/pizza.jpg");
    background-repeat: repeat;

}

#bill{
    flex-grow: 3;
    margin: 8%;
}

.result{
    display: flex;
}

#pizzaTopping{
    display: flex;
    justify-content: center;
}

#pizza {

    width: 400px;
    flex-grow: 3;
}

#choice{
    padding-left: 10%;
    padding-right: 10%;
}

.products {
    display: inline-block;
    margin: 20px;

}

#choice div {
    display: inline-block;
    padding: 10px;
}

#choice img{
    max-height: 50px;
}

#choice div  {
    margin: 10px;
}

img.pizza{
    position: absolute;
}

header{
    text-align: center;
}

.pizza {
    width: 40%;
}


.pizza-toppings {
    position: absolute;
    width: 40%;
}
