body{
    background-image: url("assets/images/pizza.jpg");
    background-repeat: repeat;

}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#pizzaTopping{
    display: flex;
    justify-content: center;
}

#pizza {
    vertical-align: middle;
    text-align: center;
    margin: 30px;
    background-color: rosybrown;
    grid-area: 1 / 1 / 4 / 4;
}
.products {
    text-align: center;
    vertical-align: center;
    max-height: 300px;
    margin: 30px;
    background-color: lightgray;
    grid-area: 4 / 1 / 7 / 4;
}
#bill {

    margin: 30px;
    background-color: thistle;
    grid-area: 1 / 4 / 7 / 6;
}

.list{
    margin: 8%;
}

#choice {
    margin: 7%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#choice img{
    max-height: 50px;
}

#choice div  {
    margin: 5px;
   /*padding: 7px;*/

}

img.pizza{
    position: absolute;
}

header{
    text-align: center;
}
